<div class="search-form">
  <%= search_form_for @q, url: search_companies_path, html: { method: :post } do |f| %>
  <div class="search-box">

    <div class="container-fluid">
      <div class="row">

        <div class="field col-md-3">
          <%= f.label :name_cont, 'Name', class: 'hide' %>
          <%= f.search_field :name_cont, class: 'form-control', placeholder: 'Company name' %>
        </div>

        <div class="field col-md-3">
          <%= f.label :category_cont, 'Category', class: 'hide' %>
          <%= f.search_field :category_cont, class: 'form-control', placeholder: 'Category' %>
        </div>

        <div class="field col-md-3">
          <%= f.label :directors_cont, 'Directors', class: 'hide' %>
          <%= f.search_field :directors_cont, class: 'form-control', placeholder: 'Directors' %>
        </div>

      </div>
      <div class="row">

        <div class="field col-md-5">
          <%= f.label :address_cont, 'Address', class: 'hide' %>
          <%= f.search_field :address_cont, class: 'form-control', placeholder: 'Address' %>
        </div>

        <div class="field col-md-4">
          <%= f.label :email_cont, 'Company Email', class: 'hide' %>
          <%= f.search_field :email_cont, class: 'form-control', placeholder: 'Company Email' %>
        </div>

      </div>
      <div class="row">

        <div class="field col-md-2">
          <%= f.check_box :registered_true %>
          <%= f.label :registered_true, 'Check if registered' %>
        </div>

        <div class="field col-md-4">
          <%= f.label :registration_number_cont, 'Registration Number', class: 'hide' %>
          <%= f.search_field :registration_number_cont, class: 'form-control', placeholder: 'Registration Number' %>
        </div>

      </div>
      <div class="row">

        <div class="field col-md-3">
          <%= f.submit 'Search', class: 'btn btn-primary form-control' %>
        </div>

      </div>
    </div>

  </div>
  <% end %>
</div>
