<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @company.start_date %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>Directors:</strong>
  <% eval(@company.directors).map do |d| %><%= d[:name] %>, <% end%>
</p>

<p>
  <strong>Registered:</strong>
  <%= @company.registered %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-default' %> |
<%= link_to 'Back', companies_path, class: 'btn btn-default' %>
