<!DOCTYPE html>
<html>
<head>
  <title>CompanyCatalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <%= render 'layouts/sidenav' %>
      </div>
      <div class="col-md-11">
        <% if @searchable %>
          <%= render 'search' %>
          <%= render 'layouts/navtabs' %>
          <%= yield %>
        <% else %>
          <div class="container">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
